body, #app {
    height: 100vh;
}

.justify-content-center {
    align-items: center;
    justify-content: center;
}

/* loader */
.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    display: inline-flex;
    width: 100%;
    height: 100%;
    z-index: 20;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.loader {
    flex: 1;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    max-width: 64px;
    /*margin-left: calc(50% - 32px);*/
}

.loader div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.loader div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.loader div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes loader {
    0% {
        top: 6px;
        height: 51px;
    }
    50%, 100% {
        top: 19px;
        height: 26px;
    }
}
