<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="app.css">
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>


    <title>Softplan Test</title>
</head>
<body>
<div id="app">
    <div class="overlay" v-if="loading">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <span class="navbar-text">Softplan Interview Test - Ex.1</span>
    </nav>
    <main class="container-fluid">
        <div class="row">
            <div class="col" style="text-align: center">
                <h1>Calculadora de custo de transporte</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-6 col-md-offset-4 col-xs-offset-3">
                <form novalidate onsubmit="return false">
                    <div style="padding: 20px">
                        <div class="form-group"
                             :class="{
                                'has-error': errors.has('paved')
                            }">
                            <label class="control-label" for="pavedAmount">Distância em rodovia pavimentada</label>
                            <div class="input-group">
                                <input id="pavedAmount"
                                       type="number"
                                       class="form-control"
                                       aria-describedby="pavedAmountKm"
                                       min="-1"
                                       value="0"
                                       v-model="pavedAmount"
                                       v-validate="'required|numeric|min_value:0'"
                                       name="paved"
                                       required
                                       aria-describedby="pavedError"
                                >
                                <span class="input-group-addon">km</span>
                            </div>
                            <span id="pavedError" class="help-block" v-show="errors.has('paved')">{{errors.first('paved')}}</span>
                        </div>
                        <div class="form-group"
                             :class="{
                            'has-error': errors.has('unpaved')
                         }">
                            <label class="control-label" for="unpavedAmount">Distância em rodovia
                                não-pavimentada</label>
                            <div class="input-group">
                                <input id="unpavedAmount"
                                       type="number"
                                       class="form-control"
                                       aria-describedby="unpavedAmountKm"
                                       min="0"
                                       value="0"
                                       v-model="unpavedAmount"
                                       v-validate="'required|numeric|min:0'"
                                       name="unpaved"
                                       required
                                       aria-describedby="unpavedError"
                                >
                                <span class="input-group-addon">km</span>
                            </div>
                            <span id="unpavedError" class="help-block" v-show="errors.has('unpaved')">{{errors.first('unpaved')}}</span>
                        </div>
                        <div class="form-group"
                             :class="{
                            'has-error': errors.has('weight')
                         }">
                            <label class="control-label" for="weight">Carga</label>
                            <div class="input-group">
                                <input id="weight"
                                       type="number"
                                       class="form-control"
                                       aria-describedby="unpavedAmountKm"
                                       min="0"
                                       value="0"
                                       v-model="weight"
                                       v-validate="'required|numeric|min:0'"
                                       name="weight"
                                       required
                                       aria-describedby="weightError"
                                >
                                <span class="input-group-addon">t</span>
                            </div>
                            <span id="weightError" class="help-block" v-show="errors.has('weight')">{{errors.first('weight')}}</span>
                        </div>
                        <div class="form-group"
                             :class="{
                            'has-error': errors.has('vehicle')
                         }">
                            <label class="control-label" for="vehicleSelect">Veículo</label>
                            <select class="form-control"
                                    id="vehicleSelect"
                                    v-model="vehicle"
                                    required
                                    name="vehicle"
                                    v-validate="'required|excluded:0'"
                                    aria-describedby="vehicleError"
                            >
                                <option disabled value="0">Selecione um veículo</option>
                                <option v-for="vehicle in vehicles" :key="vehicle.id" :value="vehicle.id">
                                    {{vehicle.name}}
                                </option>
                            </select>
                            <span id="vehicleError" class="help-block" v-show="errors.has('vehicle')">{{errors.first('vehicle')}}</span>
                        </div>
                        <button class="btn btn-primary" @click="submit">Calcular</button>
                        <button class="btn" @click="reset">Limpar</button>
                    </div>
                </form>
                <div class="alert alert-success" role="alert" v-if="showCost">O custo para o transporte é {{cost | currency}}</div>
            </div>
        </div>
    </main>
</div>
<script src="app.js"></script>
</body>
</html>